.app-container {
  width: 90%;
  margin: 9.35rem auto;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.main-dividing-line {
  width: 85%;
  margin: 2.5rem auto;
  border: solid 2px #e8e8e8;
}
